@CHARSET "UTF-8";

/* 样式：单列 */
.component-presale .presale-list .row1-of1{}
.component-presale .presale-list .row1-of1 .item{display: flex;margin-bottom: 10px;padding: 8px;}
.component-presale .presale-list .row1-of1 .item:last-child{margin-bottom: 0;}
.component-presale .presale-list .row1-of1 .item .img-wrap {width: 100px;height: 100px;}
.component-presale .presale-list .row1-of1 .item .img-wrap > img{width: 100%;}
.component-presale .presale-list .row1-of1 .item .content{flex:1;margin-left: 10px;padding:3px 0;position: relative;}
.component-presale .presale-list .row1-of1 .item .content .discount-price{font-weight: bold;font-size: 0;position: absolute;bottom: 5px;left: 0;}
.component-presale .presale-list .row1-of1 .item .content .discount-price .unit{font-size: 12px;}
.component-presale .presale-list .row1-of1 .item .content .discount-price .price{font-size: 16px;}
.component-presale .presale-list .row1-of1 .item .content button{position: absolute;bottom: 5px;right: 10px;padding: 0 8px;font-size: 12px;height: 26px;line-height: 26px;}

/* 样式：横向滑动 */
.component-presale .presale-list .horizontal-slide{display: flex;margin: 10px;overflow: hidden;}
.component-presale .presale-list .horizontal-slide .item {width: 97px;box-sizing: border-box;}
.component-presale .presale-list .horizontal-slide .item .img-wrap {width: 97px;height: 97px;overflow: hidden;position: relative;}
.component-presale .presale-list .horizontal-slide .item .img-wrap > img{width: calc(100% + 1px);}
.component-presale .presale-list .horizontal-slide .item .content {padding: 5px 10px;}
.component-presale .presale-list .horizontal-slide .item .content .discount-price{margin-top: 5px;font-weight: bold;font-size: 0;}
.component-presale .presale-list .horizontal-slide .item .content .discount-price .unit{font-size: 12px; height: 16px;}
.component-presale .presale-list .horizontal-slide .item .content .discount-price .price{font-size: 16px;}