<style type="text/css">
	.inline-block{display: inline-block;}
</style>

<div class="layui-form form-wrap">
	<div class="layui-form-item">
		<label class="layui-form-label">腾讯地图KEY：</label>
		<div class="layui-input-block">
			<input type="text" name="tencent_map_key" autocomplete="off" value="{$info.tencent_map_key ?? ''}" class="layui-input len-long inline-block">
			<a href="https://lbs.qq.com/dev/console/key/manage" class="text-color" target="_blank" style="margin-left:5px;">获取密钥</a>
		</div>
		<div class="word-aux">
			<p>平台腾讯定位地图应用KEY</p>
			<p>使用场景:手机端收货地址选择、查询距离最近的门店，管理端店铺联系地址，管理端-门店地图选择</p>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">手机端定位：</label>
		<div class="layui-input-block">
			<input type="checkbox" name="wap_is_open" value="1" lay-skin="switch" {if condition="$info.wap_is_open == 1" }checked {/if} lay-title="启用|关闭"/>
		</div>
		<div class="word-aux">开启后，进入首页将获取定位信息</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">定位有效期：</label>
		<div class="layui-input-block">
			<div class="layui-input-inline">
				<input type="number" class="layui-input len-short" name="wap_valid_time" value="{$info.wap_valid_time}" />
			</div>
			<span class="layui-form-mid">分钟</span>
		</div>
		<div class="word-aux">过期后将重新获取定位信息，0为不过期</div>
	</div>

	<div class="form-row">
		<button class="layui-btn" lay-submit lay-filter="save">保存</button>
	</div>
	
</div>

<script>
	layui.use('form', function() {
		var form = layui.form,
			repeat_flag = false; //防重复标识
			form.render();

		/**
		 * 监听提交
		 */
		form.on('submit(save)', function(data) {
			if (repeat_flag) return false;
			repeat_flag = true;
			
			$.ajax({
				url: ns.url("shop/config/map"),
				data: data.field,
				dataType: 'JSON',
				type: 'POST',
				success: function(data){
				    layer.msg(data.message);
					repeat_flag = false;
				}
			});
		});
	});
</script>
